<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 日志在工程中的输出位置 -->
	<property name="LOG_FILE" value="logs/"/>

	<!--日志文件名称：这里spring.application.name表示工程名称-->
	<!-- 控制台Appender -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{40}.%method:%L: %msg%n</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{40}.%method:%L: %msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</root>
</configuration>